.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projType{
    cursor: pointer;
}

#active{
    text-decoration: underline;
    text-underline-offset: 5px;
}

