.navbar {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2.5%;
  background-color: #183d3d;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 2px solid grey;
}

.navSearch {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.navItem {
  display: inline-block;
  position: relative;
  font-weight: normal;
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin: 0px 5%;
  padding: 5px 0px;
  white-space: nowrap;
}

.navItem:hover {
  cursor: pointer;
}

.navItem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navName {
  width: 100%;
  font-weight: normal;
  margin: 0px 50%;
}

.dropDown{
  display: none;
  cursor: pointer;
  margin-right: 5%;
  width: 70px;
  flex-direction: column;
}

.dropDown img{
  height: 70px;
}

.dropDownMenuOff{
  display: none;
}

.dropDownMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 70px;
  border: 1px solid white;
}

.dropDownItem{
  color: white;
  text-decoration: none;
  background-color: #183d3d;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.dropDownItem:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 1280px) {
  .navItem{
    margin: 0px 10%;
  }
  .navSearch{
    margin-right: 10%;
  }
}

@media only screen and (max-width: 800px) {
 .navbar{
  font-size: 20px;
 }

 .navItem{
  display: none;
 }
 .dropDown{
  display: flex;
 }
}