.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 2.5%;
    background-color: #183D3D;
    font-size: 22px;
    font-weight: normal;
    border-bottom: 2px solid grey;
}

.navSearch{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.navItem{
    font-weight: normal;
    margin: 0px 5%;
}

.navName{
    width: 100%;
    font-weight: normal;
    margin: 0px 50%;
}